@model MellArguello_EXAMENP1.Models.MA_Burger

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MA_Burger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MA_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MA_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MA_ConsumidorFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MA_ConsumidorFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MA_Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MA_Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MA_Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MA_Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MA_Nombre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
